@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.col-12 {
    padding-right: 0;
    padding-left: 0;
}

.sub-heading {
    font-weight: 300;
}

.secondary-text {
    color: #616161;
}

.dev-span {
    color: #be020b;
}

.live-link {
    color: #be020b;
    text-decoration: none !important;
}

.live-link:hover {
    color: #a8020b;
}

.sreenshot-container {
    display: inline-grid;
}

.img-caption {
    color: #be020b;
}